alembic==1.8.0
anyascii==0.3.1
apispec==4.7.1
apispec-webframeworks==0.5.2
attrs==21.4.0
autobahn==22.5.1
Automat==20.2.0
bcrypt==3.2.2
beautifulsoup4==4.11.1
bidict==0.22.0
bleach==5.0.0
blinker==1.4
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.12
cli-helpers==2.2.1
click==8.1.3
colorama==0.4.5
commonmark==0.9.1
configobj==5.0.6
constantly==15.1.0
cryptography==37.0.2
Deprecated==1.2.13
distro==1.7.0
dnspython==2.2.1
email-validator==1.2.1
faraday-agent-parameters-types==1.0.3
faraday-plugins==1.6.7
faradaysec==3.19.0
filedepot==0.8.0
filteralchemy-fork==0.1.0
Flask==2.1.2
Flask-Classful==0.14.2
Flask-KVSession-fork==0.6.4
Flask-Limiter==2.4.6
Flask-Login==0.6.1
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Security-Too==4.1.4
Flask-SocketIO==5.2.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
html2text==2020.1.16
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.11.4
importlib-resources==5.8.0
incremental==21.3.0
itsdangerous==1.1.0
Jinja2==3.1.2
limits==2.6.3
lxml==4.9.0
Mako==1.2.0
MarkupSafe==2.1.1
marshmallow==3.12.2
marshmallow-sqlalchemy==0.28.0
nplusone==1.0.0
packaging==21.3
passlib==1.7.4
pendulum==2.1.2
pgcli==3.4.1
pgspecial==1.13.1
Pillow==9.1.1
prompt-toolkit==3.0.29
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.12.0
pyOpenSSL==22.0.0
pyotp==2.6.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-engineio==4.3.2
python-socketio==5.6.0
pytz==2022.1
pytzdata==2020.1
PyYAML==6.0
requests==2.28.0
rich==12.4.4
service-identity==21.1.0
setproctitle==1.2.3
simplejson==3.17.6
simplekv==0.14.1
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.3.24
sqlparse==0.4.2
syslog-rfc5424-formatter==1.2.3
tabulate==0.8.9
tqdm==4.64.0
Twisted==22.4.0
txaio==22.2.1
typing-extensions==4.2.0
urllib3==1.26.9
wcwidth==0.2.5
webargs==8.1.0
webencodings==0.5.1
Werkzeug==2.1.2
wrapt==1.14.1
WTForms==3.0.1
zipp==3.8.0